.profile img {
    height: auto;
    max-width: 335px;
    border-radius: 4px;
    object-fit: contain;
    border-radius: 4px;
}

.profile {
    display: flex;
    margin-top: 20px;
}

.Link {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #1db954;
    padding: 10px 25px;
    border-radius: 20px;
    margin-top: 20px;
}

.profileInfo {
    padding: 10px 25px;
}
